<!DOCTYPE html>
<html>
<head>
    <title>CampusCook Home</title>
</head>
<body>
    <h1>Home Page</h1>
    <p>Welcome, {{ user.first_name }}!</p>

    <button onclick="location.href='{% url 'profile' %}'">My Profile</button>
    <button onclick="location.href='/about/'">Go to About Page</button>
    <button onclick="location.href='/grocery/'">Go to Grocery List Page</button>

    <!-- Logout button -->
     <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
     </form>
</body>
</html>